In [11]:
import pandas as pd 
import requests

Response checking

In [12]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=42de417fe73183298a002e2b97a7a4a3&language=en-US&page=1')

Creating the dataset

In [13]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,119.777,8.7,18668
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.343,8.7,24640
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,77.367,8.6,11286
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,73.838,8.6,14586
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,24.168,8.6,4253
5,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,46.903,8.5,7651
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,69.477,8.5,14906
7,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,60.520,8.5,16418
8,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,79.701,8.5,10295
9,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,108.766,8.5,30608
10,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,76.608,8.5,15929
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,87.957,8.5,25879
12,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,81.155,8.5,25398
13,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,70.312,8.5,7747
14,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,105.668,8.5,22318
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,86.904,8.5,11718
16,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.600,8.5,4859
17,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,52.543,8.5,12214
18,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,31.370,8.5,3951
19,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,32.512,8.5,3227

Create a empaty dataset

In [14]:
new_df = pd.DataFrame()
new_df

Empty DataFrame
Columns: []
Index: []

Create a loop for all pages

In [15]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=42de417fe73183298a002e2b97a7a4a3&language=en-US&page={}'.format(i))
    df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    new_df = pd.concat([new_df, df], ignore_index=True)

In [16]:
new_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,119.777,8.7,18668
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.343,8.7,24640
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,77.367,8.6,11286
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,73.838,8.6,14586
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,24.168,8.6,4253
...,...,...,...,...,...,...,...
8555,823999,Diabolik - Ginko Attacks,Diabolik nearly gets caught in Inspector Ginko...,2022-11-17,31.141,6.1,394
8556,81393,12 Dates of Christmas,In an attempt to win back her ex-boyfriend on ...,2011-12-11,17.309,6.1,246
8557,10623,Cradle 2 the Grave,Gang leader Tony pulls off a major diamond hei...,2003-02-28,24.693,6.1,830
8558,787298,Squared Love,A celebrity journalist and renowned womanizer ...,2021-02-11,15.961,6.1,297
8559,611605,1BR,When Sarah lucks into a sweet one-bedroom at A...,2019-07-18,19.885,6.1,380

In [17]:
new_df.shape

(8560, 7)

Save the dataset into csv file

In [18]:
new_df.to_csv('Top_movies.csv')